@CHARSET "ISO-8859-1";


body{
	align: center;
	
}
	
#tabela-consulta {
    margin-top: -100px;
}

#tabela-consulta thead th{
   	border:1px solid #ddd;
   	padding: 10px;
   	text-align: center;
   	background-color: #009879;
    color: white;
}

#tabela-consulta th{
   	border:1px solid #ddd;
   	padding: 10px;
   	
}

.button1{
	text-decoration: none;
	background-color: #009879;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weigth: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}